.header
    &__background
        background: linear-gradient(90deg, rgba(255,255,255,1) 54%, rgba(241,234,220,1) 54%)
        height: 826px
        margin-bottom: 130px
        padding: 120px 0 60px

    &__left
        width: 50%
        padding-top: 269px
        

    &__main
        display: flex
        justify-content: space-between


        
        
    
   

    
        
