@import '../../styles/common'
.product
    padding-top: 189px


    &__img
        width: 536px 
        height: 729px
        background: center/cover no-repeat

    &__color
        width: 41px
        height: 41px
        border-radius: 100px
        border: 1px solid rgba(0, 0, 0, 1)
