@import '../../styles/common'
@import '../../styles/reset'

.brand
    &__first
        display: flex
        justify-content: space-between
        align-items: center
    &__firstText
        width: 542px

    &__two
        margin: 130px 0
        display: flex
        justify-content: space-between
        align-items: center
