@import './../../../styles/common'
@import './../../../styles/reset'

.menu
  

  &__row
    display: flex
    align-items: center
  


  &__nav
    ul
      display: flex
      align-items: center
   

    a
      color: rgba(0, 0, 0, 1)
      font-size: 15px
      font-weight: 400
      

  &__navItame
    margin-right: 45px

 

  